*{
    margin: 0;
    padding: 0;
    

}

body{
    font-family: "Roboto,Helvetica Neue",Helvetica,Arial,sans-serif 13px;
    background: #e3e8ee;
    
}
.baner1{
    padding: 4px 21px;
}

.cont{
    background: white;
    height: auto;
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    
}
#hrline{
    background: #959797;
}
.fa-pull-right{
    margin-right: 25px;
    border-radius: 2px;
    background-color:#e6e9eb;


}
.btn-icon{
    padding: 1px 6px;

    border-radius: 2px;
    box-shadow: 0px 2px 5px grey;

}
.stats{
    color:  #03a9f4;
    float: right;
    margin-top: 40px;
    margin-right: -33px;
    
}

.userdetails{
   
    width: 100%;

}
.userdetails img{
    height: 160px;
    width: 160px;
    border-radius: 50%;

}
.fa{
    font-size: 13px;

}
a:link .mail{
    font-size: small;
    color: #03a9f4;
    padding: 4px;
    text-transform: lowercase;

}
a:link{
    text-decoration: none;
    text-transform: lowercase;
    font-size: small;
    color: #03a9f4;

}

.chip-circle {
    background-color: #4b5158;
    display: inline-block;
    height: 32px;
    font-size: 13px;
    line-height: 29px;
    padding: 0 12px;
    color: #fff;
    border-radius: 16px;
    margin-bottom: 10px;
    }




